.container { max-width: 1920px; margin: 0 auto; }
.harbor-wrap { width: 1300px; margin: 0 auto; }
/*
 *	公共标题
 *
 * */
.harbor-common-head {
	color: #2a5289;
	text-align: center;
}
.harbor-common-head .title {
	font-size: 34px;
    line-height: 65px;
    margin-bottom: 10px;
    font-weight: normal;
    letter-spacing: 4px;
}
.harbor-common-head .des-china {
	font-size: 16px;
	line-height: 32px;
	margin-bottom: 4px
}
.harbor-common-head .des-eng {
	font-size: 13px;
	line-height: 20px;
	opacity: .6;
}



/*
 *	联璧港BANNER
 *
 * */
.harbor-banner {
	height: 680px;
	background: url(../images/harbor/harbor_banner.png) no-repeat center;
	background-size: cover;
	transition: all 600ms;
}
.harbor-banner-in { padding-top: 141px;}

.harbor-banner-text {
	float: left;
	padding: 53px 0 0 85px;
	width: 60%;
	color: #fff;
}
.harbor-banner-text .ico {
	margin-bottom: 16px;
}
.harbor-banner-text .name {
	margin-bottom: 30px;
	font-size: 54px;
	line-height: 54px;
	letter-spacing: 4px;
	text-shadow: 1px 1px 1px rgba(22,132,183,.3);
}
.harbor-banner-text .name span { 
	font-size: 26px;
	letter-spacing: 1px;
}

.harbor-banner-text .name-eng {
	margin-bottom: 60px;
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
	text-shadow: 1px 1px 1px rgba(22,132,183,.3);
}

.harbor-banner-text .name-eng span { margin-left: 15px;}

.harbor-banner-text .more {
	display: inline-block;
	width: 173px;
	height: 49px;
	line-height: 49px;
	font-size: 18px;
	color: #191919;
	text-align: center;
	letter-spacing: 1px;
	-webkit-border-radius: 24px/25px 25px 24px 24px;
	-moz-border-radius: 24px/25px 25px 24px 24px;
	border-radius: 24px/25px 25px 24px 24px;
	background-color: #fff;
	-webkit-box-shadow: 1px 1px 20px rgba(30,151,204,.25);
	-moz-box-shadow: 1px 1px 20px rgba(30,151,204,.25);
	box-shadow: 1px 1px 20px rgba(26,101,182,.9);
}

.harbor-banner-img {
	float: right;
	width: 39.53846%;
}




/*
 *	大数据服务
 *
 * */
.harbor-server {
	padding-top: 82px;
	padding-bottom: 100px;
	background:url('../images/harbor/harbor_bg_4.jpg') no-repeat center;
}
.harbor-server-menu {
	padding-top: 60px; 
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	justify-content: space-between;
	text-align: center;
}
.harbor-server-menu li {
	position: relative;
	float: left;
	width: 23.07692%;
	padding-top: 66px;
	padding-bottom: 63px;
	box-shadow: rgba(0,0,0,.2) 0 0 10px;
	border-radius: 8px;
	cursor: pointer;
}
.harbor-server-menu li:hover .hiding {
	opacity: 1;
}
.harbor-server-menu li:hover {
	color: #fff;
	box-shadow: rgba(0,0,0,.5) 0 0 20px;
}
.harbor-server-menu li:hover .number {
	color: #fff;
}
.harbor-server-menu li:hover .smalltxt {
	opacity: .8;
}
.harbor-server-menu .text_box {
	position: relative;
	z-index: 1;
}
.harbor-server-menu .hiding {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 8px;
	transition: all 800ms;
	background: #1053a6;
	background: linear-gradient(to bottom,#1053a6,#44adfb);
}
.harbor-server-menu .number {
	position: absolute;
	top: 10px; left: 10px;
	z-index: 1;
	width: 50px;
	line-height: 50px;
	color: #44adfb;
	font-size: 16px;
	transition: all 1s;
}
.harbor-server-menu .server_icon {
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
	background: url(../images/harbor/harbor_server_icon.png) no-repeat;
}
.harbor-server-menu li:nth-child(2) .server_icon {
	background-position: -100px 0;
}
.harbor-server-menu li:nth-child(3) .server_icon {
	background-position: -200px 0;
}
.harbor-server-menu li:nth-child(4) .server_icon {
	background-position: -300px 0;
}
.harbor-server-menu li:nth-child(1):hover .server_icon {
	background-position: 0 -100px;
}
.harbor-server-menu li:nth-child(2):hover .server_icon {
	background-position: -100px -100px;
}
.harbor-server-menu li:nth-child(3):hover .server_icon {
	background-position: -200px -100px;
}
.harbor-server-menu li:nth-child(4):hover .server_icon {
	background-position: -300px -100px;
}

.harbor-server-menu .bigtxt {
	font-size: 18px;
	line-height: 30px;
}
.harbor-server-menu .smalltxt {
	font-size: 12px;
	opacity: .2;
	line-height: 22px;
}



/*
 *	开发支持服务
 *
 * */
.harbor-support {
	height: 836px;
	background: url(../images/harbor/harbor_support_bg.jpg) no-repeat center;
}
.harbor-support .harbor-common-head { 
	color: #fff; 
	padding-top: 85px;
}
.harbor-support-tab {
	position: relative;
	padding-top: 28px;
}
.harbor-support-tab .tab-content {
	position: relative;
}
.harbor-support-tab .tab-content > div {
	display: none;
	position: absolute;
	right: 0; top: 0;
	width: 71.76923%;
	text-align: right;
}
.harbor-support-tab .tab-title {
	position: absolute;
	left: 0; top: 140px;
	color: #fff;
	width: 280px;
}
.harbor-support-tab .on {
	background: url(../images/harbor/harbor_support_tab_bg.png) no-repeat;
}
.harbor-support-tab .title {
	line-height: 49px;
	font-size: 20px;
	cursor: pointer;
	text-align: center;
	background: url(../images/harbor/support-tab.png) no-repeat;
}
.harbor-support-tab .tab-title > div:nth-child(2) .title {
	background-position: 0 -49px;
}
.harbor-support-tab .tabs {
	margin-bottom: 45px;
}
.harbor-support-tab .tabs ul {
	display: none;
	padding: 6px 0;
}
.harbor-support-tab .tabs li {
	font-size: 16px;
	line-height: 42px;
	padding-left: 102px;
	background: url(../images/harbor/tick.png) no-repeat 80px center;
}



/*
 *	SaaS运营服务
 *
 * */
.harbor-run {
	padding-bottom: 100px;
}
.harbor-run .harbor-common-head { 
	padding-top: 85px;
}
.harbor-run-menu {
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
	justify-content: space-between;
	text-align: center;
	margin-top: 145px;
}
.harbor-run-menu li {
	float: left;
	width: 30.76923%;
	padding-top: 102px;
	padding-bottom: 46px;
	color: #3c3735;
	box-shadow: #f7f2f1 0 0 20px;
	transition: all 300ms;
	cursor: pointer;
}
.harbor-run-menu li:hover {
	box-shadow: rgba(0,0,0,.2) 0 0 80px;
}
.harbor-run-menu .bigtxt {
	font-size: 18px;
	line-height: 30px;
}
.harbor-run-menu .smalltxt {
	font-size: 12px;
	opacity: .2;
	line-height: 22px;
}
.harbor-run-menu .circle-border {
	width: 170px;
	height: 85px;
	border-radius: 0 0 85px 85px;
	border: 10px solid #eeeaea;
	margin: -102px auto 0;
}
.harbor-run-menu .circle {
	width: 150px;
	height: 150px;
	margin-top: -85px;
	border-radius: 50%;
	background-color: #06d79d;
	background-image: url(../images/harbor/harbor_run_icon.png);
	background-repeat: no-repeat;
}
.harbor-run-menu li:nth-child(2) .circle {
	background: #1053a6;
	background: linear-gradient(to top,#1053a6,#44adfb);
}
.harbor-run-menu li:nth-child(2) .circle-img {
	height: 150px;
	background: url(../images/harbor/harbor_run_icon.png) no-repeat 0 -150px;
} 
.harbor-run-menu li:nth-child(3) .circle {
	background-position: 0 -300px;
} 



/*
 *	SaaS增值服务
 *
 * */
.harbor-appreciation {
	height: 834px;
	background: url(../images/harbor/harbor_appreciation_bg.jpg) no-repeat center;
}
.harbor-appreciation .harbor-common-head { 
	color: #fff; 
	padding-top: 85px;
}




/*
 *	智慧物联服务
 *
 * */
.harbor-wulian .harbor-common-head {
	padding-top: 85px;
}
.harbor-wulian-imgroup {
	padding-top: 30px;
	padding-bottom: 30px;
}
.harbor-wulian-imgroup .imgLeft {
	float: left;
	width: 56.76923%;
}
.harbor-wulian-imgroup .imgRight {
	float: right;
	width: 35%;
}




/*
 *	联璧港APP
 *
 * */
.harbor-app {
	height: 838px;
	background: url(../images/harbor/harbor_app_bg.jpg) no-repeat center;
}
.harbor-app-in {
	padding-top: 170px;
}
.harbor-app-img {
	float: left;
	width: 44.23076%;
}
.harbor-app-inform {
	float: right;
	width: 43.38461%;
	padding-top: 90px;
	color: #fff;
	font-size: 16px;
}
.harbor-app-inform .app-download {
	display: block;
	margin-bottom: 40px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background: #fff;
	overflow: hidden;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 20px rgba(0,0,0,.2);
	box-shadow: 0 0 20px rgba(0,0,0,.2);
}

.harbor-app-inform .app-download img {
	-webkit-transition: all ease .4s;
	   -moz-transition: all ease .4s;
	    -ms-transition: all ease .4s;
	        transition: all ease .4s;
}

.harbor-app-inform .app-name {
	margin-bottom: 20px;
	font-size: 40px;
	line-height: 40px;
	font-weight: normal;
	letter-spacing: 5px;
	text-shadow: 1px 1px 10px rgba(0,0,0,.3);
}
.harbor-app-inform .app-name span {
	font-size: 26px;
	letter-spacing: 0;
}

.harbor-app-inform .des-china {
	line-height: 30px;
	margin-bottom: 15px;
	text-shadow: 1px 1px 5px rgba(0,0,0,.3);
}
.harbor-app-inform .app-ewm {
	float: left;
	display: inline-block;
	width: 132px;
	height: 132px;
	margin-top: 60px;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fff;
	-webkit-box-shadow: 1px 1px 20px rgba(48,103,160,.2);
	-moz-box-shadow: 1px 1px 20px rgba(48,103,160,.2);
	box-shadow: 1px 1px 20px rgba(48,103,160,.2);
}


@media screen and (max-width: 1200px) {
	.harbor-banner-img { padding-top: 70px; }
}

@media screen and (max-width: 1300px) {
	.harbor-wrap { width: 100%; }
	.harbor-app-inform { padding-top: 0; }
}