@charset "utf-8"; 


/* reset */  
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}  /* 初始化标签在所有浏览器中的margin、padding值 */  
fieldset,img {border:0 none}  /* 重置fieldset（表单分组）、图片的边框为0*/  
dl,ul,ol,menu,li {list-style:none}   /* 重置类表前导符号为onne,menu在HTML5中有效 */  
blockquote, q {quotes: none}   /* 重置嵌套引用的引号类型 */  
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}  /* 重置嵌套引用*/  
input,select,textarea,button {vertical-align:middle;outline:none;}  /* 重置表单控件垂直居中*/  
button {border:0 none;outline:none;background-color:transparent;cursor:pointer}  /* 重置表单button按钮效果 */  
html {font-size: 16px;}  /* 项目根字体大小 */  
body {background:#fff}   /* 重置body 页面背景为白色 */  
body,th,td,input,select,textarea,button {font-size:14px;line-height:1 ;font-family:"微软雅黑","Arial";color:#383838} /* 重置页面文字属性 */  
a {color:#999;text-decoration:none;outline: none;}  /* 重置链接a标签 */  
a:active, a:hover {text-decoration:none}   /* 重置链接a标签的鼠标滑动效果 */  
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}  /* 重置样式标签的样式 */  
caption {display:none;}    /* 重置表格标题为隐藏 */  
table {width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;}    /* 重置table属性 */  
img {vertical-align:top;max-width:100%;}  /* 图片在当前行内的垂直位置 */  
html,body { height: 100%; }



/* common */ 
.container {width: 100%;max-width: 1920px;min-height: 100%;margin: 0 auto;box-shadow: 0 0 20px #ccc;overflow: hidden}
.viewboxes {width: 100%;transition: all 300ms;}
.clearfix:before,.clearfix:after {content: '';display: table}
.clearfix:after {clear: both}
.inwrap {max-width: 1280px;margin: 0 auto}/* 主页面居中 */
.wrap {max-width: 1200px;margin: 0 auto}/* 页面居中 */
.fl{float: left}.fr{float: right}
.rColor{color: #AC2536}
.footer, .header {display: none}



@media screen and (min-width: 1025px) 
{
	.mhomeBanner, .mhomeNav, .mhomeCase, .mhomeAdvantage, .mhomeTeam, .mhomeCustomer {display: none}
	

	/* header - start */
		.cheader {
			display: block;
			position: fixed;
			left: 0; top: 0; z-index: 8;
			width: 100%; height: 90px;
			background: rgba(255,255,255,0.7); 
		}
		.cheader .logo {
			width: 198px;
			height: 90px; 
			background: url(../images/common/pc_logo.png) no-repeat left center;
		}
		.cheader .sec {
			float: right; 
		}
		.cheader .nav {
			width: 65px;
			overflow: hidden;
			transition: all 300ms;
		}
		.cheader .nav.nav_on {
			width: auto;
		}
		.cheader .nav button {
			float: left;
			width: 65px;
			height: 90px;
			background-size: 35px;
			background-image: url(../images/common/pc_menu.png);
			background-repeat: no-repeat;
			background-position: center;
		}
		.cheader .search {
			position: relative;
			height: 50px;
			margin-top: 20px;
			margin-right: 30px;
			border-radius: 25px;
			padding-right: 50px;
			transition: all 600ms ease;
			background-color: transparent;
		}
		.cheader .search input {
			width: 0;
			height: 40px;
			border: none;
			font-size: 18px;
			margin-top: 5px;
			margin-left: 0;
			transition: all 300ms ease;
			background-color: transparent;
		}
		.cheader .search button {
			position: absolute;
			right: 0; top: 0;
			width: 50px;
			height: 50px;
			background-size: 32px;
			background-image: url(../images/common/pc_search.png);
			background-repeat: no-repeat;
			background-position: center;
		}
		.cheader .search_on {
			background-color: #fff;
		}
		.cheader .search_on input {
			width: 200px;
			margin-left: 20px;
		}
		.cheader .hotline {
			width: 215px;
			height: 90px;
			box-shadow: 0 0 10px #353535;
			background: url(../images/common/pc_hotline.jpg) no-repeat right center;
		} 
		#navboxes {
			display: flex;
			flex-flow: row warp;
			align-items: center;
			justify-content: center;
			text-align: center;
		}
		#navboxes a {
			width: 110px;
			height: 90px;
			color: #303030;
			font-size: 16px;
			line-height: 26px;
			margin-right: 2px;
			overflow: hidden;
			transition: all 300ms;
		}
		#navboxes b {
			display: block;
			color: #6c6c6b;
			font-size: 10px;
			line-height: 16px;
			font-weight: normal;
			margin-top: 24px;
			transition: all 300ms;
		}
		#navboxes .active, #navboxes a:hover {
			color: #fff;
			background-color: #ab2537;
		}
		#navboxes .active b, #navboxes a:hover b {
			color: #fff;
		}
	/* header - end */


    /* footer - start */
		.cfooter {
			display: block;
			position: relative;
			padding-top: 73px;
			background-color: #222;
		}
		.cfooter .icons {
			position: absolute;
			padding-right: 185px;
		}
		.cfooter .logo {
			display: block;
			width: 192px;
			height: 52px;
			background: url(../images/common/pc_logo_foot.png) no-repeat center;
		}
		.cfooter .sharing {
			display: block;
			margin-top: 10px;
		}
		.cfooter .phone {
			display: block;
			width: 191px; height: 26px;
			margin-top: 10px;
			background: url(../images/common/phone.png) no-repeat center;
		}
		.cfooter .code {
			position: absolute;
			right: 0; top: 4px;
			width: 139px; height: 139px;
			background: url(../images/common/code.jpg) no-repeat center;
		}
		.cfooter .nav {
			padding-bottom: 20px;
		}
		.cfooter .navmenu li {
			float: left;
			width: 100px;
			font-size: 14px;
			line-height: 48px;
		}
		.cfooter .navmenu li a {
			display: block;
			color: #fff;
		}
		.cfooter .navmenu li:last-child {
			width: 60px;
			text-align: right;
		}
		.cfooter .navmenu li a:first-child {
			line-height: 38px;
		}
		.cfooter .link {
			color: #a9a9a9;
			font-size: 14px;
			line-height: 51px;
			border-top: 1px solid #393939;
		}
		.cfooter .link a {
			color: #757575;
			margin-left: 30px;
		}
		.cfooter .address {
			color: #cfcfcf;
			line-height: 45px;
			background-color: #121212;
		}
		.cfooter .address a {
			color: #cfcfcf;
			margin-right: 35px;
		}
		.cfooter .floating {
			position: absolute;
			left: 50%; top: -25px;
			width: 52px;
			height: 48px;
			margin-left: -26px;
			cursor: pointer;
			transition: all 300ms;
			background: url(../images/common/arrowtop.jpg) no-repeat center;
		}
		.cfooter .floating:hover {
			top: -35px;
		}
		.cfooter .bdshare-button-style0-32 a {
			margin-right: 50px;
			background-size: 32px;
			background-repeat: no-repeat;
			background-position: 0;
		}
		.cfooter a.bds_tsina {
			background-image: url(../images/common/xinlang.png);
		}
		.cfooter a.bds_weixin {
			background-image: url(../images/common/weixin.png);
		}
		.cfooter a.bds_sqq {
			margin-right: 0;
			background-image: url(../images/common/qq.png);
		}
    /* footer - end */

	@media screen and (min-width: 1025px) and (max-width: 1280px) {
		#navboxes a { width: 100px; }
		.inwrap { padding: 0 15px; }
		.homeAdvantage div.advbg { right: 15px; }
		.homeTeam div.bg { width: 55%; }
	}
}

@media screen and (max-width: 1024px) 
{
	.homeBanner, .homeNav, .homeCase, .homeAdvantage, .homeTeam, .homeCustomer, .homeNews {display: none}

	/* header - start */
		.mheader {
			display: block;
		}
		.mheader .boxes {
			position: fixed;
			top: 0; left: 0;
			z-index: -1;
			width: 100%; height: 100%;
			transition: all 300ms;
		}
		.mheader .top {
			position: fixed;
			z-index: 12;
			top: 0; left: 0;
			width: 100%; height: 5rem;
			transition: all 300ms;
			background: rgba(255,255,255,0.5); 
		}
		.mheader .logo {
			display: block;
			width: 60%;
			height: 100%;
			margin: 0 auto;
			background-size: 12.375rem;
			background-image: url(../images/common/pc_logo.png);
			background-repeat: no-repeat;
			background-position: center;
		}
		.mheader .navbtn {
			position: absolute; top: 0;
			width: 5rem; height: 5rem;
			background-size: 2.5rem;
			background-repeat: no-repeat;
			background-position: center;
		}
		.mheader .navbtn-layer-1 {
			left: 0;
			background-image: url(../images/common/pc_menu.png);
		}
		.mheader .navbtn-layer-2 {
			display: none;
			left: 0; z-index: 1;
			background-image: url(../images/common/mb_menu.png);
		}

		.mheader .navbtn.on {
			background-color: #999;
		}
		.mheader .slidemenu {
			position: absolute;
			left: -80%; top: 0;
			width: 80%; height: 100%;
			overflow: auto;
		}
		.mheader .masklayer {
			position: absolute;
			left: 0;top: 0;
			width: 100%;height: 100%;
			transition: all 300ms;
		}
		.mheader .masklayer.on {
			background: rgba(0,0,0,0.8);
		}

		.mheader .menu_1 {
			min-height: 100%;
			padding-top: 5rem; 
			background: #fff;
			box-sizing: border-box;
		}
		.mheader .menu_1 > li {
			font-size: 1.625rem;
			line-height: 5rem;
			padding-left: 3rem;
		}
		.mheader .menu_1 > li > a {
			display: block;
			color: #000;
			letter-spacing: 3px;
			border-bottom: 1px solid #ccc;
		}
		.mheader .menu_1 > li > a span {
			color: #999;
			font-size: 1.25rem;
			margin-left: .625rem;
			vertical-align: middle;
			letter-spacing: 0;
		}
		.mheader .menu_2 {
			padding-left: 3rem;
			margin-left: -3rem;
			margin-top: -1px;
			background-color: #ccc;
			transition: all 300ms;
			overflow: hidden;
		}
		.mheader .menu_2 a {
			display: block;
			color: #535353;
			font-size: 1.5rem;
			height: 0;
			line-height: 4rem;
			transition: all 300ms;
		}
		.mheader .menu_on {
			padding: .625rem 0 .625rem 3rem;
		}
		.mheader .menu_on a {
			height: 4rem;
		}
	/* header - end */


	/* footer - start */
		.mfooter {
			display: block;
			position: fixed;
			left: 0; bottom: 0;
			z-index: 8;
			display: flex;
			padding: .75rem 0 .5rem;
			width: 100%;
			background-color: #ab2537;
			transition: all 300ms;
		}
		.mfooter a {
			width: 25%;
			color: #fff;
			font-size: 1rem;
			line-height: 1.875rem;
			text-align: center;
		}
		.mfooter b {
			display: block;
			height: 1.875rem;
			background-size: 1.875rem;
			background-repeat: no-repeat;
			background-position: center;
		}
		.mfooter a:nth-child(1) b { background-image: url(../images/common/ficon_1.png) }
		.mfooter a:nth-child(2) b { background-image: url(../images/common/ficon_2.png) }
		.mfooter a:nth-child(3) b { background-image: url(../images/common/ficon_3.png) }
		.mfooter a:nth-child(4) b { background-image: url(../images/common/ficon_4.png) }
	/* footer - end */
}






